/* in this part we have restore the browser effects */
/* we have set margin and padding prop for all
   headings paragraphs images etc to be 0 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* this is the main part in this part we have described the 
   initial body conditions! and the display of the body */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

/* this is the part where we have the image inside it.  */
.main_box{
    margin-top: 15em;
    margin-left: 15em;
    width: 22em;
    position: relative;
    transform: center -5em;
    animation: move infinite 0.5s alternate ease-in-out;
}

/* pseudo-class
    ::after 
    ::before
   these are used to add on the conent without using them in HTML.

   using the before and after property of the pseudo-class

   we have added a dot and the pin which hangs the image
*/

/* using ::before pseudo-class
    we have added a dot with a 
    bg-color --> green
    body-color --> yellow
*/
.main_box::before{
    content: '';
    width: 0.75em;
    height: 0.75em;
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translateX(-50%);
    border:  0.125em solid rgb(6, 108, 9);
    border-radius: 50%;
    background-color: #ff7a00;
    
}


/* 
    using ::after pseudo-class
    we have added a pin which holds the image.
*/


/* a Z-INDEX of -2 is set to keep the object of 
    ::after pseudo-class to beneath of all of the other 
    objects
*/
.main_box::after{
    content: '';
    position: absolute;
    width: 0.5em;
    height: 5em;
    border-radius: 0.75em;
    z-index: -2;
    left: 50%;
    top: -20%;
    transform: translateX(-50%);
    border:  0.125em solid rgb(6, 108, 9);
    position:fixed;
}


/* 
    @keyframes is used to add the animation in our code!
*/

@keyframes move{
    from{
        transform: rotate(-6deg);
    }
    to{
        transform: rotate(6deg);
    }
}

